body {
  background: darkslateblue;
}

.imgBox {
  background-image: url("pictures/Background 01.jpg");
  position: relative;
  top: 7px;
  left: 5px;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.whiteBox {
  display: inline-block;
  height: 155px;
  width: 155px;
  margin: 10px;
  background-color: white;
  border: 3px black solid;
}

.hold {
  border: solid red 4px;
}

.dashed {
  background: rgb(214, 206, 206);
  border-style: dashed;
}

.hide {
  display: none;
}
