* {
  margin: 0px;
}
body {
  overflow: hidden;
}

.left_body {
  width: 50%;
  height: 100vh;
  display: inline-block;
  background-color: #58406e;
  margin: 0px;
  border-width: 0px;
  margin-right: -4px;
}
.right_body {
  width: 49%;
  /* height: 100vh; */
  display: inline-block;
  background-color: #2e592b;
  margin: 0px;
  border-width: 0px;
  margin-left: -4px;
}

#dynamically_Change_Shape {
  display: inline-block;
  height: 100vh;
  margin: 0%;
  width: 300px;
  border-width: 0px;
  background-color: red;
  cursor: w-resize;
}
